<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1 class="title">List of all Heroes</h1>
    </div>
  </div>
</div>
<div class="hero_container">
  <% @heroes.each do |hero| %>
    <div class="card" style="width: 22rem;">
      <div class="img-container">
        <img class="text-center" src="<%= hero['icon_url']['92x93'] %>"  alt="" style="width:30%; margin:auto;">
      </div>
      <div class="card-container">
        <h4><b><%= hero['name'] %></b></h4>
        <h6><b><%= hero['role'] %></b></h6>
        <h6><b><%= hero['type'] %></b></h6>
        <a class="link" href="/heroes/<%= hero['name'] %>">More Info</a>
      </div>
    </div>
  <% end %>
</div>
